##
## Page Info
#####################
#set( $template_name = "login" )
#set( $templateSwitch = "login" )
#set( $piwikCustomPageTitle = "login" )
#set( $piwikCustomPageViewPath = "login" )
#set( $banner_page_id = "LOG" )
#set( $banner_page_instance = "" )
#set( $customGrid = true )
#set( $hideMenu = true )
#set( $login_needed = false )
#set( $forbidLanguageSwitch = false )
#set( $selectableLanguages = $current_website.getAttribute('WEBSITE_ATTRIBUTE_SELECTABLE_LANGUAGES').toString().split(','))
##
## General
#####################
#set( $websiteId = ${session.getAttribute($constants.get("SESSION_KEY_WEBSITE_ID"))})
#set( $loginError = false )
#set($processingMessages = $messages.getAll())
#if($processingMessages.containsMessages())
  #foreach( $message in $processingMessages.getProcessingMessages() )
    #if( "${message.getProcessingMessageType().getReceiptProcessingMessageClass()}" == "ERROR" )
      #set( $errorMessage = $!message.toString($locale) )
      #if( $errorMessage.indexOf("Automatischer Loginvorgang") < 0 )
        #set( $loginError = true )
      #end
    #end
  #end
#end

<div class="custom-header__login d-lg-none">
  <div class="logo-wrapper d-block d-lg-none">
    <a #if($login)href="${link.getAction('/taxfreenoncashbenefit/welcome')}"#else href="$link.getQueryAction("/index", "force=true")"#end class="navbar-brand">
      <img src="/images/cips/placeholder.svg" class="customer-logo"/>
    </a>
  </div>
  <div class="nav-wrapper">
    <ul class="nav custom-nav">
      #if( $login || $debugMode )
        <li class="nav-item">
          <button class="btn btn-white global-search-button btn-icon nav-link" onclick="toggleSearch()">
            <div class="svg-icon search-icon"></div>
            <span class="d-none d-sm-inline-block">$!{messages.get('shop.ebc.header.search_voucher')}</span>
          </button>
        </li>
      #end
      #if( $forbidLanguageSwitch != true && $selectableLanguages.size() > 1 )
        <li class="nav-item language-switch-wrapper_login align-items-center d-flex d-lg-none">
          <span class="mr-2">$!{messages.get('shop.ebc.header.language')}</span>
          <div class="dropdown language-switch">
            <button class="dropdown-toggle d-flex align-items-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2">$!{locale.toLanguageTag().toUpperCase()}</span>
              <svg xm lns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
              </svg>  
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">$!{locale.toLanguageTag().toUpperCase()}</a>
              #set($currentLangTag = $!{locale.toLanguageTag()})
              #foreach($selectableLanguage in $selectableLanguages)
                #set($selectableLanguageLabel = $!{selectableLanguage.toUpperCase()})
                #if("$!selectableLanguageLabel" == "")
                  #set($selectableLanguageLabel = "$!{selectableLanguage.toUpperCase()}")
                #end
                #if($selectableLanguage.equalsIgnoreCase($currentLangTag))
                #else
                  <a href="${link.getQueryAction("/taxfreenoncashbenefit/language","lang=$!selectableLanguage")}" class="dropdown-item" alt="$selectableLanguageLabel">$selectableLanguageLabel</a>
                #end
              #end
            </div>
          </div>
        </li>
      #end
    </ul>
  </div>
</div>

<section class="stage stage--login">
  <div class="container-xl stage__container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6">
        <div class="card stage__card"> 
          <div class="card-body">
            <h1 class="card-title">$messages.get('shop.ebc.login.new_password_heading')</h1>
            <p class="card-text">
              $messages.get('shop.ebc.login.text')
            </p>
            #set($processingMessages = $messages.getAll())
              #foreach( $message in $processingMessages.getProcessingMessages() )
                #if( "${message.getProcessingMessageType().getReceiptProcessingMessageClass()}" == "ERROR" )
                  #set( $errorMessage = $!message.toString($locale) )
                  ##if( $errorMessage.indexOf("Automatischer Loginvorgang") < 0 )
                    <p class="card-text error" hidden>$errorMessage</p>
<!--<p class="card-text">$messages.get('shop.ebc.login.link_expired')</p>-->
                  ##end
              #end
            #end
            
        </div>
      </div>
    </div>
    ## test
    <div class=" col-sm-12 col-md-6 ebc-forms">
      <form id="ebc-new-password-form" class="login-container" onsubmit="savePasswordAction(event)" autocomplete="off">
        <input type="hidden" name="lastURL" value="$!helper.cleanXSS($!lastURL)"/>
        <input type="hidden" name="action" id="ebc-login-form-action" value="save_changed_one_time_password">
        <div class="user-input mb-3">
          <div class="new-password-input">
            <input class="new-password-input form-control mb-2" id="newPassword" onfocus="clearError(this)" type="password" name="newPassword" placeholder="$messages.get('shop.ebc.my_account.new_password')" autofocus="autofocus" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required>
            <p class="text-danger newPassword" hidden ></p>
          </div>
        </div>
          <div class="new-password-retype-input mb-3">
            <div class="new-password-retype-input">
              <input class="password-input form-control mb-2" id="newPasswordRetype" onfocus="clearError(this)" type="password" name="newPasswordRetype" placeholder="$messages.get('shop.ebc.my_account.repeat_new_password')" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required>
              <p class="text-danger newPasswordRetype" hidden ></p>
            </div>
          </div>
          <div class="ecb-new-password-submit mt-3">
            <button type="submit" class="btn btn-primary " id="ecb-new-password-button" href="#0">
              $messages.get('shop.ebc.login.new_password_assign')
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<custom-toast></custom-toast>
<script>
function clearError(e) {
  document.querySelector(`#${e.id}`).classList.remove("is-invalid")
  document.querySelector(`.${e.id}`).setAttribute("hidden", "")
}
const prepareFormData = (fields) => {
  const formData = new FormData();
  const bean = "employeeChangePasswordBean.";
  formData.append("action", "save");
  for (const [key, value] of Object.entries(fields)) {
    formData.append(bean + key, value);
  }
  return new URLSearchParams(formData);
};
function savePasswordAction(){
  event.preventDefault()
  const fields = {
    newPassword: document.getElementById("newPassword").value,
    newPasswordRetype: document.getElementById("newPasswordRetype").value
  }
  const response = fetch("${link.getAction('/ajax/taxfreenoncashbenefit/json/one_time_password')}", {
    method : "POST",
    body: prepareFormData(fields),
    dataType: "html",
  })
  .then((response) => response.json())
  .then((data) => {
    if(data.success) {
      console.log("Success:", data);
      const msg = `<div class="">
                      $!{messages.get('shop.ebc.my_account.save.success')}
                    </div>`
      showToast(msg, 'success', true)
    } else {
      const fieldErrors = data.error.filter(e => e.errorType === 'FieldError')
      fieldErrors.forEach(f => {
        let elem = document.querySelector(`.${f.errorField}`)
        elem.removeAttribute("hidden")
        elem.innerHTML = f.errorMessage
        jQuery(`#${f.errorField}`).addClass("is-invalid")
      }); 
      //showToast('err', 'error')
    }
  })
  .catch((error) => {
    console.error("Error:", error);
  });
}
// vue3 web component toast handling
  const logout = {
    url: "${link.getAction('/taxfreenoncashbenefit/logout')}",
    msg: "$!{messages.get('shop.ebc.login.logged_out')}",
    btn: "$!{messages.get('shop.ebc.login.relogin')}"
  }
  const toast = document.querySelector("custom-toast");
  const td = {}
  // const ts = { position: "center", decoration: false, colorized: false, backdrop: false };
  // toast.setAttribute("toast-style", JSON.stringify(ts));
  const messages = {
    success: "$!{messages.get('shop.ebc.messages.success')}",
    error: "$!{messages.get('shop.ebc.messages.error')}"
  }
  function showToast(msg, type, fixed = false) {
    td.message = JSON.parse(JSON.stringify(msg))
    td.title = messages[type]
    td.type = type
    toast.setAttribute("toast-data", JSON.stringify(td));
    if(fixed) {
      toast.setAttribute("fixed", JSON.stringify(fixed))
      toast.setAttribute("action-url", JSON.stringify(logout.url))
      toast.setAttribute("action-title", JSON.stringify(logout.msg))
      toast.setAttribute("action-btn", JSON.stringify(logout.btn))
    }
    toast.setAttribute("is-active", "true");
  }
  window.addEventListener("close-toast", toastClosed);
  function toastClosed() {
    toast.setAttribute("is-active", "false");
  }
</script>